{% extends "base.html" %}

{% block content %}
  <section class="section container">
    <p>{{ section.content }}</p>
    <ul>
      {% for page in section.pages %}
        <li>
          <span>{{ page.date | date(format="%Y-%m-%d") }}</span>
          <em><a href="{{ page.permalink }}"> {{ page.title }}</a></em>
        </li>
      {% endfor %}
    </ul>
    <br/>
    <p>
    Tags:
    {% set tags = get_taxonomy(kind="tags") %}
    {% for term in tags.items %}
      <a href="{{ term.path }}">
        {{ term.name }}{%- if not loop.last %}{{ "," | safe }} {%endif -%}
      </a>
    {% endfor %}
    </p>

  </section>
{% endblock content %}
