{% extends "base.html" %}

{% block content %}
  <section class="hero is-dark is-small">
    <div class="hero-body container has-text-centered">
      <p class="title">
        <a href="{{ page.path }}">
          {{ page.title }}
        </a>
      </p>
      {% if page.date or page.updated or page.description %}
        <p class="subtitle">
          {% if page.date or page.updated %}
            {% if page.date %}
              {{ page.date | date(format="%B %d %Y") }}
            {% endif %}
            {% if page.updated %}
              (Updated {{ page.updated | date(format="%B %d %Y") }})
            {% endif %}
            {% if page.description %}
              |
            {%endif %}
          {% endif %}
          {{ page.description }}
        </p>
      {% endif %}
    </div>
  </section>
  {% if page.extra.use_toc %}
    <section class="section container">
      <div class="columns">
        <div class="column content is-one-fifth">
          {% include "toc.html" %}
        </div>
        <div class="column content is-four-fifths">
          <p>{{ page.content | safe }}</p>
        </div>
      </div>
  {% else %}
    <section class="section container post content">
      <p>{{ page.content | safe }}</p>
  {% endif %}
  <p id="page-footer">
  {% if page.taxonomies.tags %}
    {% set post_tags = page.taxonomies.tags | sort | unique(case_sensitive=false) %}
    Tags:
    {% for tag in post_tags %}
      <a href="/blog/tag/{{ tag | slugify }}">{{ tag }}</a>
      {%- if not loop.last %}{{ "," | safe }} {%endif -%}
    {% endfor %}
    |
    <a href="{{ page.permalink }}">Permalink</a>
  {% else %}
    <a href="{{ page.permalink }}">Permalink</a>
  {% endif %}
  </p>
  </section>

  {% endblock content %}
